.content-body {
  background: url(houses-5002_512.gif) center no-repeat;
  background-size: cover;
}

.modal-buttons {
  background-color: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(15px);
}

.modal-overlay {
  background-color: rgb(33, 42, 62,0.7);
  /*backdrop-filter: blur(15px);*/
  color:white;
  place-items: center;
  z-index: 11;
}

.modal-overlay:hover {
  cursor: pointer;
}

.modal-open{
  visibility: visible;
}

.modal-content:hover {
 cursor: auto;
}